@import './styles/variables';

body {
  background-color: #0E0063 !important;
}

.app-wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #0E0063;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;

  .layout-wrapper {
    width: 100%;
  }

  main {
    border-radius: $main-border;
    background: linear-gradient(87.77deg, #F2EDFA 1.88%, #F9F9FF 51.92%, #E8E4F1 97.2%);
    min-height: calc(100vh - $nav-height);
    padding: 44px 0;
  }
}

